<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s profile | General Eye</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <h1>Profile</h1>
  <h2><%= user.username %></h2>
  <img src="<%= user.profileImage %>" alt="<%= user.username %>'s profile image">

</body>
</html>