<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s profile | General Eye</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  
  <main class="profile">
    <img src="<%= user.profileImage %>" alt="<%= user.username %>'s profile image">
    <h1 class="text-center"><%= user.username %></h1>

    <!-- Authored articles -->
    <section>
      <h2>Authored Articles</h2>
      <ul>
        <% authoredArticles.forEach(article => { %>
          <li>
            <a href="/articles/<%= article._id %>">
              <%= article.title %>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>

    <!-- Liked articles -->
    <section>
      <h2>Liked Articles</h2>
      <ul>
        <% likedArticles.forEach(article => { %>
          <li>
            <a href="/articles/<%= article._id %>">
              <%= article.title %>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>
  </main>

</body>
</html>